/*---------------myshop_tours.php-------------- by amir */
/*
.Hongkong_city_index{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	margin-top: -78px;
	z-index: 9999;
	margin-left: 17px;
	padding-left: 11px;
	padding-top: 2px;
	padding-bottom: 6px;
	padding-right: 10px;
}
.Hongkong_city_index h1{
	color: #fd8900;font-size: 30px;
}
.India_city_index{
position: absolute;
background: rgba(255, 255, 255, 0.8);
margin-top: -78px;
z-index: 9999;
margin-left: 17px;
padding-left: 11px;
padding-top: 2px;
padding-bottom: 6px;
padding-right: 10px;
}
.India_city_index h1{
	color: #fd8900;font-size: 30px;
}
.Indonesia_city_index{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	margin-top: -78px;
	z-index: 9999;
	margin-left: 17px;
	padding-left: 11px;
	padding-top: 2px;
	padding-bottom: 6px;
	padding-right: 10px;
}
.Indonesia_city_index h1{
	color: #fd8900;font-size: 30px;
}
.Malaysia_city_index{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	margin-top: -78px;
	z-index: 9999;
	margin-left: 17px;
	padding-left: 11px;
	padding-top: 2px;
	padding-bottom: 6px;
	padding-right: 10px;
}
.Malaysia_city_index h1{
	color: #fd8900;font-size: 30px;
}
.Philippines_city_index{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	margin-top: -78px;
	z-index: 9999;
	margin-left: 17px;
	padding-left: 11px;
	padding-top: 2px;
	padding-bottom: 6px;
	padding-right: 10px;
}
.Philippines_city_index h1{
	color: #fd8900;font-size: 30px;
}
.Singapore_city_index{
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	margin-top: -78px;
	z-index: 9999;
	margin-left: 17px;
	padding-left: 11px;
	padding-top: 2px;
	padding-bottom: 6px;
	padding-right: 10px;
}
.Singapore_city_index h1{
	color: #fd8900;font-size: 30px;
}*/
#img_myshop{
	width:210px;
	height:314px;
}